RVL_ALIAS "main_clk" "main_clk"; 
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clkQ" "clkQ"; 
RVL_ALIAS "clkQ" "clkQ"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF PORT "nTSC" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IRQH" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "S[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "S[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "addrOut[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nRD" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nWR" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "nIRQA" SITE "42" ;
LOCATE COMP "nRD" SITE "78" ;
LOCATE COMP "nWR" SITE "25" ;
IOBUF PORT "nIRQA" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nIRQ" IO_TYPE=LVCMOS33 PULLMODE=UP ;
BLOCK JTAGPATHS ;
IOBUF PORT "nReset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "clk" SITE "12" ;
LOCATE COMP "nReset" SITE "20" ;
LOCATE COMP "addrOut[19]" SITE "99" ;
LOCATE COMP "addrOut[18]" SITE "98" ;
LOCATE COMP "addrOut[17]" SITE "97" ;
LOCATE COMP "addrOut[16]" SITE "96" ;
LOCATE COMP "addrOut[0]" SITE "68" ;
LOCATE COMP "addrOut[1]" SITE "69" ;
LOCATE COMP "addrOut[2]" SITE "70" ;
LOCATE COMP "addrOut[3]" SITE "71" ;
LOCATE COMP "addrOut[4]" SITE "74" ;
LOCATE COMP "addrOut[5]" SITE "75" ;
LOCATE COMP "addrOut[6]" SITE "76" ;
LOCATE COMP "addrOut[7]" SITE "77" ;
LOCATE COMP "addrOut[15]" SITE "88" ;
LOCATE COMP "addrOut[14]" SITE "87" ;
LOCATE COMP "addrOut[13]" SITE "86" ;
LOCATE COMP "addrOut[12]" SITE "85" ;
LOCATE COMP "addrOut[11]" SITE "84" ;
LOCATE COMP "addrOut[10]" SITE "83" ;
LOCATE COMP "addrOut[9]" SITE "82" ;
LOCATE COMP "addrOut[8]" SITE "81" ;
LOCATE COMP "dataBus[7]" SITE "1" ;
LOCATE COMP "dataBus[6]" SITE "2" ;
LOCATE COMP "dataBus[5]" SITE "3" ;
LOCATE COMP "dataBus[4]" SITE "4" ;
LOCATE COMP "dataBus[3]" SITE "7" ;
LOCATE COMP "dataBus[2]" SITE "8" ;
LOCATE COMP "dataBus[1]" SITE "9" ;
LOCATE COMP "dataBus[0]" SITE "10" ;
LOCATE COMP "nCS[0]" SITE "64" ;
LOCATE COMP "nCS[2]" SITE "66" ;
LOCATE COMP "nCS[3]" SITE "67" ;
LOCATE COMP "nIRQ" SITE "15" ;
LOCATE COMP "nTSC" SITE "16" ;
IOBUF PORT "addrOut[16]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[17]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[18]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "addrOut[19]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nCS[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nCS[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nCS[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nCS[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "dataBus[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clkE" SITE "27" ;
LOCATE COMP "clkQ" SITE "28" ;
IOBUF PORT "clkE" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "clkQ" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "UM[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UM[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "UM[6]" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST ;
IOBUF PORT "UM[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "UM[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "UM[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "UM[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "UM[1]" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST ;
IOBUF PORT "UM[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "SPI_CLK" SITE "54" ;
IOBUF PORT "SPI_CLK" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CS[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CS[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CS[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CS[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CS[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_CS[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "TxD" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST ;
IOBUF PORT "nRTS" IO_TYPE=LVCMOS33 ;
LOCATE COMP "SPI_CS[0]" SITE "61" ;
LOCATE COMP "SPI_MISO" SITE "53" ;
LOCATE COMP "SPI_MOSI" SITE "52" ;
LOCATE COMP "SPI_CS[1]" SITE "60" ;
LOCATE COMP "SPI_CS[2]" SITE "59" ;
LOCATE COMP "SPI_CS[3]" SITE "58" ;
LOCATE COMP "SPI_CS[4]" SITE "57" ;
LOCATE COMP "SPI_CS[5]" SITE "62" ;
LOCATE COMP "UM[0]" SITE "30" ;
LOCATE COMP "UM[1]" SITE "31" ;
LOCATE COMP "UM[2]" SITE "32" ;
IOBUF PORT "serialClockOut" IO_TYPE=LVCMOS33 ;
LOCATE COMP "UM[3]" SITE "35" ;
LOCATE COMP "UM[4]" SITE "36" ;
LOCATE COMP "UM[5]" SITE "37" ;
LOCATE COMP "UM[6]" SITE "39" ;
LOCATE COMP "UM[7]" SITE "40" ;
LOCATE COMP "S[0]" SITE "13" ;
LOCATE COMP "S[1]" SITE "14" ;
IOBUF PORT "nAltRD" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nAltWR" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "nAltRD" SITE "19" ;
LOCATE COMP "nAltWR" SITE "18" ;
LOCATE COMP "monitor_sel[0]" SITE "17" ;
LOCATE COMP "monitor_sel[1]" SITE "21" ;
LOCATE COMP "monitor_sel[2]" SITE "24" ;
LOCATE COMP "monitor_sel[3]" SITE "29" ;
IOBUF PORT "monitor_sel[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "monitor_sel[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "monitor_sel[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "monitor_sel[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RxD" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SerialClock" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "TxD" SITE "49" ;
LOCATE COMP "RxD" SITE "48" ;
LOCATE COMP "gclk1" SITE "63" ;
